/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Raleway|Rock+Salt|Knewave|Carter+One|Rubik|Josefin+Sans|Caveat|Overpass|PT+Sans');
/* End font */

/* Start snip beranda */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);/* End Snip beranda */

/* Start Snip Komentar Testimonial */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); */
/* End Snip Komentar Testimonial */

/* Start Tentang dan Snip Tentang */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* End Tentang dan Snip Tentang */

/* Start Body */
body {
  font-family: 'Knewave', cursive;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  
}

/* Start Container */
.container {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  
}

.full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;

}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
    
}
.menu-primer img {
    width: 250px;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #221F14;
    text-decoration: none;
}

a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}

/* End Anchor /Hyperlink */

/* Start menu primer */

.menu-primer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.menu-primer ul {
    padding: 0px; 
    vertical-align: middle;
    text-align: center;
    box-shadow:
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px; 

}

.menu-primer a {
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.menu-primer a:hover {
    background-color:#FEF7E7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #F0DFB6;
    color: #282417;
    text-decoration: none;
}
/* End menu Primer */

/* Start Jumbotron */

.jumbotron {
  margin-top: 0px;
}
.jumbotron h1 {
    font-family: 'Carter One', cursive;
    font-size: 25px;
}

.jumbotron h3 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 15px;
}

h4 {
    font-family: 'Carter One', cursive;
}

.ngeh {
  font-size: 30px;
  text-align: center;
}

.daftarmenu {
  font-size: 20px;
 text-align: center;
 
}

.listharga {
  font-size: 20px;
}

h3 p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: center;
}

.backgroundlist {
  color: white;
  padding-top: 34px;
  text-align: center;

}
/* End Jumbotron */

/* Start snip beranda */

figure.snip1182 {
  display: inline-block;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 25%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1182 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1182 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1182 h3,
figure.snip1182 i {
  position: absolute;
  opacity: 0;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
figure.snip1182 h3 {
  top: 0;
  left: 0;
  margin: 0;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  -webkit-transform: translate(-50px, -100%);
  transform: translate(-50px, -100%);
}
figure.snip1182 h3 span {
  font-weight: 800;
}
figure.snip1182 i {
  bottom: 0;
  right: 0;
  font-size: 34px;
  color: #000000;
  width: 50px;
  height: 50px;
  z-index: 1;
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}
figure.snip1182 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1182.blue {
  background-color: #2472a4;
}
figure.snip1182.blue i {
  color: #20638f;
}
figure.snip1182.blue h3 {
  background-color: #20638f;
  color: white;
}
figure.snip1182.red {
  background-color: #ab3326;
}
figure.snip1182.red i {
  color: #962d22;
}
figure.snip1182.red h3 {
  background-color: #962d22;
  color: white;
}
figure.snip1182.orange {
  background-color: #d67118;
}
figure.snip1182.orange i {
  color: #bf6516;
}
figure.snip1182.orange h3 {
  background-color: #bf6516;
  color: white;
}
figure.snip1182.navy {
  background-color: #2b3c4e;
}
figure.snip1182.navy i {
  color: #222f3d;
}
figure.snip1182.navy h3 {
  background-color: #222f3d;
  color: white;
}
figure.snip1182:hover img,
figure.snip1182.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1182:hover h3,
figure.snip1182.hover h3,
figure.snip1182:hover i,
figure.snip1182.hover i {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

/* End Snip Beranda */

/* Start Testimonial */
.testimonial {
  margin-left: 30px;
  padding: -8px;
}
/* End Testimonial */

/* * Start Box */
.box-heading {
    /* border: 1px solid #E0E7E5; */
    /* border-radius: 5px 5px 5px 5px; */
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 15px;
    margin: 0;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    padding: 15px;
}

.box-isi {
    background-color:#F7F1E1;
    border: 1px solid #E0E7E5;
    border-top: 0;
    margin: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    /* border-radius: 15px */
}

.box-isi tr {
    font-family: 'Rubik', sans-serif;

}
/* End Box */

/* Start Snip Komentar Testimonial */
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  display: inline-block;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

/* End Snip Komentar Testimonial */

/* Start tentang dan Snip Tentang */
figure.snip1453 {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 10px 20px 10px 20px;
  min-width: 230px;
  max-width: 295px;
  min-height: 215px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #1a1a1a;
  font-size: 16px;
}
figure.snip1453 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1453 img {
  position: absolute;
  left: 0%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
figure.snip1453 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 20px 20px 0;
}
figure.snip1453 h2,
figure.snip1453 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
}
figure.snip1453 h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
figure.snip1453 p {
  font-size: 0.8em;
}
figure.snip1453 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1453:hover img,
figure.snip1453.hover img {
  width: 55%;
  left: -10%;
}
figure.snip1453:hover figcaption h2,
figure.snip1453.hover figcaption h2,
figure.snip1453:hover figcaption p,
figure.snip1453.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

figure.snip0056 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0056 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0056 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -15%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0056 figcaption .icons {
  width: 100%;
  text-align: left;
}
figure.snip0056 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}
figure.snip0056 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0056 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
  clear: both;
}
figure.snip0056.blue .position {
  background: #20638f;
}
figure.snip0056.red .position {
  background: #962d22;
}
figure.snip0056.yellow .position {
  background: #bf6516;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}

/* End Tentang dan snip Tentang */

/* Start Pelayanan dan Snip Pelayanan */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.menu-kopi {
  text-align: center;
  width: 90%;
  margin: 50px;
  color: white;
}

.menu-kopii {
  text-align: center;
  width: 90%;
  margin: 50px;
  color: white;
  background: #20638f;
}

.snip1362 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 44px;
  max-width: 315px;
  width: 100%;
  color: #262626;
  font-size: 16px;
  background-color: #e6e6e6;
  transform: translateZ(0);
  float: right;
  
}
.snip1362 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1362 img {
  max-width: 100%;
  vertical-align: top;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.snip1362 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.snip1362 h3 {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 300;
  font-size: 1.4em;
  padding: 0 40px 0 0;
  margin: 0;
  line-height: 40px;
}
.snip1362 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1362:hover img,
.snip1362.hover img {
  -webkit-transform: translate(-40px, -40px);
  transform: translate(-40px, -40px);
}
/* End Pelayanan dan Snip Pelayanan */

/* Start Menu Sekunder */
.menu-sekunder {
  background-color: #F0DFB6;
  border-bottom: 1px solid #645637;
  border-top: 20px solid rgb(51, 51, 51);
  overflow: auto;
  padding: 10px 0;
}

.menu-sekunder h4 {
  font-size: 14px;
  margin: 0 auto;
  text-transform: uppercase;
}

.menu-sekunder ul {
  padding: 0;
}

.menu-sekunder li {
  list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder li p {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
  float: left;
}

.menu-sekunder-one {
  width: 40%;
  padding-top: 10px;

}

.menu-sekunder-two,
.menu-sekunder-three {
  width: 30%;
  padding-top: 10px;

}

.menu-sekunder li img {
  vertical-align: middle;
}

.menu-sekunder p img {
  vertical-align: middle;
}

/* End Menu Sekunder */


/* Start Copyright */
.copyright p {
  font-size: 20px;
  font-family: 'Caveat', cursive;
  text-align: center;
  color: whitesmoke;
}
/* End Copyright */


/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 297px;
}


.main-one {
    float: left;
    overflow: auto;
    width: 70%;
} 

/* End main */

/* Start Sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
} 

/* End Sidebar */

/* Start Layanan-table */
table {
  color: white;
  text-align: center;
}

.layanan-table {
    border: 1px solid #333333;
    border-collapse: collapse;
    margin: auto;
    
}

.layanan-table th {
    background-color: #FEF7E7;;
}

.layanan-table td {
    text-align: center;
    color: white;
}
/* End Layanan-table */

/* Start Form */

/* End Form */

/* Start Kontact form */
.contact-form div {
        margin: 20px 0;
        font-family: 'Raleway', sans-serif;
        text-align: center;

}
/* End Kontak Form */
.container-tanya {
  text-align: left;
  margin: 0px auto;
  overflow: auto;
  width: 85%;
  background-color: #F0DFB6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-img {
  text-align: center;
  margin: 0px auto;
  overflow: auto;
  width: 85%;
  background-color: #F0DFB6;
  padding-top: 30px;
  padding-bottom: 30px;
    
}

 p { 
    font-family: 'PT Sans', sans-serif;
    text-align: left;
 }

 .formulir{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 1em;
 }

.tentang {
    background: #F7F1E1;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.t-figure {
    width: 30%;
    background: #999;
}

.t-tulisan {
    width: 50%;
    background: #F8F8F8;
}

.dua {
    background: #F7F1E1;
}

.auto {
    width: auto;
    margin-right: 0px;
}

.ubah {
    width: 40%;
    margin-left: 30px;
}

.t-tulisan p {
  text-align: center;
}

.hai {
  font-family: 'Raleway', sans-serif;
}

.ol {
  font-family: 'Roboto Mono', monospace;

}


.testimonial {
  height: 300%;
  width: 100%;
  margin-left: 0px;
}

.testimonial-background {
  /* background: rgba(1.5,1.5,1.1,0.5); */
  color: white; 
  height: 300; 
  padding: 10px; 
  text-align: center; 
  width: 100%;
}

.kk {
  background: rgb(51, 51, 51);
  width: 100%;
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: #F6AA93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1 {
  text-align:center; 
  color: rgb(12, 12, 12);
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}